# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/service_container.html
parameters:
#    parameter_name: value

services:
#    service_name:
#        class: AppBundle\Directory\ClassName
#        arguments: ["@another_service_name", "plain_value", "%parameter_name%"]
    admin.user:
            class: AppBundle\Admin\UserAdmin
            arguments: [~, AppBundle\Entity\FosUser, ~]
            tags:
                - { name: sonata.admin, manager_type: orm, label: User }
    admin.postState:
            class: AppBundle\Admin\PostStateAdmin
            arguments: [~, AppBundle\Entity\PostState, ~]
            tags:
                - { name: sonata.admin, manager_type: orm, label: Status des posts }
    admin.post:
            class: AppBundle\Admin\PostAdmin
            arguments: [~, AppBundle\Entity\Post, ~]
            tags:
                - { name: sonata.admin, manager_type: orm, label: Posts }